<h1>Gros Gmail Mytho</h1>



<%= link_to "Creer un Email", email_index_path, method: :post, class: "btn btn-info", remote: true  %>

<br>
<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th>Liste des emails</th>
        <th>Email selectioné</th>
    </tr>
</thead>
<tbody id="email-list">
	<% @emails.each do |email| %>
    <tr>
    	
        <td><%= email.id %> <%= link_to "Voir le contenu", email_path(email.id), remote: true  %></td>
        <td id="email-content"><%=  %></td>
        
    </tr>

    <% end %>
</tbody>
</table>

